p, h1, h2, li, ol, pre, code {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
pre {
  background-color: #6e6b6b;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}
code {
  color: white
  font-family: "Courier New", monospace;
  background-color: #eee;
  padding: 2px 5px;
  border-radius: 3px;
}
